
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 56px;
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #000000 ;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #000000 ;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    display: block;
  }

  li {
    color: rgb(255, 255, 255);  
  }

  .largephoto {
      display: block;
      position: relative;
      width: 50%;
      border: none;
  }

  p.small {
      padding: 2%;
      font-size: 1rem;
  }

  .center {
    text-align: center;
  }

  .card-title {
    text-align: center;
    font-size: 18px;
  }

  .card-text {
    text-align: center;
    font-size: 25px;
  }

  td {
    word-wrap: break-word;
  }

  .totheleft {
    text-align: left;
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: 100%;
  background-size: 100%, 100%;
  background-image: none;
  top: 100%;
  bottom: 100%;
  
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 5em;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 5em;
  color: black;
}

 .jumbotron {
  background-image: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F765877054%2F960x0.jpg%3Ffit%3Dscale");
  background-size: cover;
 }
  
 .red {
   color:rgb(192, 37, 37);
   font-family: 'Times New Roman', Times, serif;
   font-size: 3rem;
 }

 .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(197, 197, 197);
  color: white;
  text-align: center;
}

ul.navbar-nav a:hover { 
  color: rgb(255, 255, 255) !important; 
}

.navbar-nav>li.nav-item.active>a.nav-link{
  text-decoration:none;
  color:rgb(255, 255, 255);
}




